{%  extends 'Demand_Manager/Header.html' %}

{% block content %}
<br><br><
<div class="row">
<div class= "col-md">

    
      		
	<div class="card text-brown bg-light" id="Table-BG">
	
	<div class="title"><strong><h5>Why Demand Manager Online?</h5></strong></div>
	
			<table class="mytable" style="font-size: 16px">
				<thead>
				<tr>
					<th>Excel Tracker</th>
			        <th>Vs Demand Manager Online</th>
			        
				</tr>
				</thead>
				<tbody>
					
					<tr>
					<td>&#10060 Redundant data updates across multiple tabs </td>
			        <td>&#10004 Single update reflects across all tabs</td>
			        </tr>

					<tr>
					<td>&#10060 Too many columns to navigate resulting in update errors </td>
			        <td>&#10004 User friendy, easy to view and update</td>
			        </tr>
			      	<tr>
					<td>&#10060 Frequent crashes due to size and too many users trying to access simultaneously </td>
			        <td>&#10004 Faster, Smoother ==> peace of mind</td>
			        </tr>

			        <tr>
					<td>&#10060 Too often data gets overwritten due to concurrent updates from multiple location </td>
			        <td>&#10004 Accurate, audit trail enabled</td>
			        </tr>

					<tr>
					<td>&#10060 Access through VDI, cumbersome to navigate the length and breadth of the sheet </td>
			        <td>&#10004 Productive</td>
			        </tr>

			        <tr>
			        <td></td>
					<td><strong>&#10004 Versatile, can be leveraged to manage demands for other potential large engagements and Organization </strong><br> &#10004 Bulk upload and extraction enabled</td>
			        </tr>
				</tbody>

			</table>
<p align="left">
<strong>Django</strong> - 3.0.4 an MTV Framework (Model Template View) <br>
<strong>Code Language </strong>- Python 3.6<br>
<strong>DataBase</strong> - Sqlite3<br>
<strong>CSS</strong> - Bootstrap, Materialize, Cloudflare, Custom <br>
<strong>JS</strong> - Chart.JS for chart and Cloudflare Popper.JS for dynamic search <br>
<strong>Apps Used</strong> - Impport-Export, Easy Audit<br>
<strong>Component Re-use</strong> > 60% &#9996<br>
<strong>Authored by</strong> - Ramesh S
</p>
</div>
</div>
</div>
</div>
{% endblock %}