{%  extends "Demand_Manager/Header.html" %}


	{% block content %}
<div class="row">

    <div class="col-md">
      		
	<div class="card text-left text-brown bg-light" id="Table-BG">
	<div class="card-header">	
	{% include "Demand_Manager/search.html" %} 
	  		
		<div class="title"><strong><h5>All Demands List</h5></strong></div>
		<table class="mytable" >
		<thead>
		 <tr>
			<th>Fiscal Year</th>
	        <th>Requested Date</th>
	        <th>Days Open</th>
	        <th>Demand Status</th>
	        <th>Demand Id</th>
	        <th>Portfolio</th>
	        <th>Portfolio Lead</th>
	        <th>Hiring Manager</th>
	        <th>Project</th>
	        <th>Role</th>
	        <th>Skillset</th>
	        <th>Location</th>
	        
	        <th>Expected Start Date</th>
	        <th>Detailed Status</th>
	        <th>Progress Comments</th>
		  </tr>
		</thead>	
		<tbody>
			{% for rows in all_All_Demands_Dict %}
		  <tr>
			<td>{{ rows.Fiscal_Year }}
		    <td>{{ rows.Requested_Date }}</td>
		    <td>{{ rows.Days_Open }}</td>
		    <td>{{ rows.Demand_Status }} </td>
		    <td>{{ rows.Demand_Id }}</td>
		    <td>{{ rows.Portfolio}}</td>
		    <td>{{ rows.Portfolio_Lead}}</td>
		    <td>{{ rows.Hiring_Manager}}</td>
		    <td>{{ rows.Project}}</td>
		    <td>{{ rows.Role}}</td>
		    <td>{{ rows.Skillset}}</td>
		    <td>{{ rows.Location}}</td>
		    <td>{{ rows.Expected_Start_Date}}</td>
		    <td>{{ rows.Detailed_Status}}</td>
		    <td>{{ rows.Notes}}</td>
		  </tr>
		   	{% endfor %}
		 </tbody>
		</table>
<ul class="pagination">
    {% if all_All_Demands_Dict.has_previous %}
    <li><a href="?page={{ all_All_Demands_Dict.previous_page_number }}&?order_by={{order_by}}">previous</a></li>
    {% endif %}
    <li class="disabled"><a>Page {{ all_All_Demands_Dict.number }} of {{ all_All_Demands_Dict.paginator.num_pages }}</a></li>
    {% if all_All_Demands_Dict.has_next %}
    <li><a href="?page={{ all_All_Demands_Dict.next_page_number }}&?order_by={{order_by}}">next</a></li>
    {% endif %}
</ul>

</div>
</div>
</div>
</div>

	{% endblock %}