{% load static %}
<nav class="navbar navbar-default navbar-expand-lg bg-dark" id="mNavbar">

 <img src="{% static 'images/Gavs_logo.png' %}">
 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Dashboard</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="/active_demands/">Active Demands List</a>
      </li>
      
      <li class="nav-item dropdown">
        
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Analytics</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/active_ageing">Top 20 Ageing Demands</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/inprogress_noupdates/">Demands with no updates last 10 days</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/onboard_inprogress/">Onboard's in progress</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/all_demands/">All Demands View</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/about/">About Demand Manager</a>
        </div>
        
      </li>
      
    </ul>
  </div>
</nav>